<div id="message-{{id}}" class = "comment">
    <strong class="comment-author">{{username}}</strong>
    <span class="comment-date">{{formatDateString createAt}}</span>
    <div class="comment-text">{{text}}</div>
</div>
