  <main>
    <h2>Welcome back</h2>
    <form class="container">
      <div class="input-box">
        <label for="username">Username:</label>
        <input type="text" name="username" 
        id="username-login" placeholder="Username" required/>
      </div>

      <div class="input-box">
        <label for="password">Password:</label>
        <input type="password" name="password" 
        id="password-login" placeholder="Password" required/>
      </div>  
      
      <input class="button" type="submit" value="Sign in">
    
      <div class="redirect-option">
        <label for="login-link">
          Don't have an account? <a class="linked-text" href="/registration">Register</a>
      </div>

    </form>  
  </main>
