  <main>
    <h2>Post a video</h2>
    <form class="container" action = "/posts/create" 
    method="post" enctype="multipart/form-data">
      <div class="input-box">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required/>
      </div>
        

      <div class="input-box">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" required/>
      </div>        
      
      <div class="input-video">
        <label for="video">Video:</label>
        <input type="file" name="uploadVideo" id="video" accept="video/*" required>
      </div>

      <div class="input-checkbox">
        <label for="accept-term">
        <input type="checkbox" name="aupCheck" id="accept-term" required>
        I accept the Acceptable Use Policy for uploading videos.
        </label>
      </div>

      <input class="button" type="submit" value="Post">


    </form>  
  </main>

  