  <main>
    <h2>View Post</h2>
    <form class="container">

        <video class="video" controls>
            <source src="video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      
        <div class="video-information">  
          <p> Video Title:</p>
          <p> Video Author:</p>
          <p> Video Creation Time:</p>
          <p> Video Description:</p>
        </div>
      
      <div class="comment-box">
        <textarea id="comment-input" placeholder="Write your comment..." ></textarea>
        <input class="button" type="submit" value="Send Comment">
      </div>

    </form>  
  </main>
