*,
*::after,
*::before{
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font: .9rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

    
header {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  font-size: .9rem;
}

nav {  
  background-color: #333;
  padding: .6rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: .5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}  

nav ul li a {
  color: #fff;
  font-size: .9rem;
  text-decoration: none;
}

.button{
  border: none;
  border-radius: .35rem;
  background-color: #333;
  color: #fff;
  padding: .3rem;
  font-size: .9rem;
  text-align: center;
  margin: auto;
}

.button:hover{
  transform: scale(1.02);
}

.redirect-option{
  text-align: center;
}

.input-box{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

h2{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

video{ 
  display: flex;
  justify-content: center;
}

.video-information{
  margin: 0% 0%;
}

.comment-box{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.linked-text{
  color: #0000FF;
  text-decoration: none;
}

.linked-text:hover{
  text-decoration: underline;
}

.home-display{
  text-align: center;
}

@keyframes p1 {
    100% {background-size:100%}
}

@media screen and (min-width: 550px) {

  nav ul {
    flex-direction: row;    
  }

  video{
    margin: 0% 25%;
  }

  .video-information{
    margin: 0% 25%;
  }

  .comment-box{
    margin: 0% 25%;
  }
}

.footer {
  background-color: #f0f0f0;
  font-size: .9rem;
  padding: .6rem; 
  text-align: center;
  width: 100%;
  margin-top: auto
}

.invalid-input{
  outline-color: red;
}

.valid-input{
  outline-color: #333;
}

#main-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  /* grid-auto-flow: column; */
  grid-gap: 1rem;
  color: #333;
  width: 100%;
  /* overflow:auto; */
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
}

.photo-card p {
  margin-top: 1rem;
}

#photo-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  font-size: 0.9rem;
  padding: 0.6rem;
  text-align: center;
}
